@import 'tailwindcss';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}
@custom-variant light (&:where(.light, .light *));
:root {
  --bg-color: #f8f8f8;
  --active-primay-bg-color: #2c9cfe;
  --active-primay-text-color: #fff;
  --border-color: #eaeaea;
  --tip-red-text-color: #ff773a;
  --tip-blue-text-color: rgb(94, 141, 183);
  --font-color-primary: rgb(44, 62, 80);
}

@theme {
  --color-background: var(--bg-color);
  --color-active-primay-background: var(--active-primay-bg-color);
  --color-active-primay: var(--active-primay-text-color);
  --color-border: var(--border-color);
  --color-tip-red: var(--tip-red-text-color);
  --color-tip-blue: var(--tip-blue-text-color);
  --color-primary: var(--font-color-primary);
}
@keyframes marquee {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}

@utility animate-marquee {
  animation: marquee 15s linear infinite;
}
body {
  @apply bg-slate-50 text-white antialiased;
  /* Fixed minimum width to prevent content from shifting too much */
}
html,
body,
#root {
  width: 100vw;
  min-height: 100vh;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-slate-100;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-300 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-400;
}

/* Ensure images and videos are responsive but within their containers */
img,
video {
  max-width: 100%;
  height: auto;
}
